<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Trade Tiger - Stock Market Analysis</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/css/business-frontpage.css" rel="stylesheet">
    <link href="/stylesheets/css/search.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>




    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <body>
      <div class="search">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="tagline">Search Bar</h1>
                    </div>
                </div>
            </div>
          <form method="post" action="/search/search_stocks">
              <fieldset class="form-group">
                <label for="low_min">Stock</label>
                <input class="form-group1" type="text" id="name" name="name" placeholder="Enter Stock Name">
              </fieldset>
              <fieldset class="form-group">
                <label for="low_min">Sector</label>
                <input class="form-group2" type="text" id="sector" name="sector" placeholder="Enter Stock Sector">
              </fieldset>
              <fieldset class="form-group">
                <label for="low_min">Low</label>
                <input class="form-group3" type="text" id="low_min" name="low_min" placeholder="Min">
                <input class="form-group7" type="text" id="low_max" name="low_max" placeholder="Max">
              </fieldset>
              <fieldset class="form-group">
                  <label for="high_min">High</label>
                  <input class="form-group4" type="text" id="high_min" name="high_min" placeholder="Min">
                  <input class="form-group8" type="text" id="high_max" name="high_max" placeholder="Max">
              </fieldset>
              <fieldset class="form-group">
                  <label for="turnover_min">Turnover</label>
                  <input class="form-group5" type="text" id="turnover_min" name="turnover_min" placeholder="Min">
                  <input class="form-group9" type="text" id="turnover_max" name="turnover_max" placeholder="Max">
              </fieldset>
              <fieldset class="form-group">
                  <label for="quantity_min">Quantity</label>
                  <input class="form-group6" type="text" id="quantity_min" name="quantity_min" placeholder="Min">
                  <input class="form-group10" type="text" id="quantity_max" name="quantity_max" placeholder="Max">
              </fieldset>
              <input class ="submit" type="submit" name="search" value="Search">
          </form>
        </div>
          <ul class="stocks">
              <% for(var i=0; i<stocks.length; i++) {%>
                  <div class="stock">
                      <a href='/search/stock_data?name=<%= stocks[i]._id %>'><h3>Name: <%= stocks[i]._id %></h3></a>
                      <p>Low: <%= stocks[i].Low %></p>
                      <p>High: <%= stocks[i].High %></p>
                      <p>Turnover: <%= stocks[i].Turnover_in_Lakhs %></p>
                      <p>Total Trade Quantity: <%= stocks[i].Total_Trade_Quantity %></p>
                  </div>
              <% } %>
          </ul>

      <!-- jQuery first, then Tether, then Bootstrap JS. -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>





        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Trade Tiger 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
