<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>

        <ul class="stocks">
            <% for(var i=0; i<stocks.length; i++) {%>
                <div class="stock">
                    <h3>
                        Name: <%= stocks[i].Name %>
                    </h3>
                    <p>High: <%= stocks[i].High %></p>
                    <p>Low: <%= stocks[i].Low %></p>
                    <p>Turnover: <%= stocks[i].Turnover_in_Lakhs %></p>
                    <p>Timestamp: <%= stocks[i].date %></p>
                </div>
            <% } %>
        </ul>
    </body>
</html>
