<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> <%= title %> </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style media="screen">
    form
    {
      margin-left: 5vw;
      margin-top: 3vh;
    }

    #header {
        margin-left: 5vw;
    }
    </style>
</head>
<body>
    <nav style="background-color: #e3f2fd; position:fixed;" class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">ShareTiger</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/search/search_stocks">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/users/dashboard">Dashboard</a>
          <a class="nav-item nav-link" style="width:10vw;" href="/search/top_gainers">Top Gainers</a>
          <a class="nav-item nav-link" style="width:10vw;margin-left: 19vw;position:absolute;" href="/search/top_losers">Top Losers</a>

          <a class="btn btn-outline-success" style="color: white;margin-left:68vw;position:absolute;">
            Welcome, <%= user.username %> !
          </a>
          <a style="color: white;margin-left:60vw;" class="btn btn-danger my-2 my-sm-0" href="/users/logout">Logout</a>
        </div>
      </div>
    </nav>

    <br/><br/>

    <br/><br/>

    <h2 id="header">Search for Top Gainers of a Sector</h2>
    <form method="post" action="/search/top_gainers">
        <fieldset class="form-group">
          <input type="text" id="sector" name="sector" class="input-group-addon" placeholder="Enter Sector">
        </fieldset>
        <input type="submit"  class="btn btn-primary" name="search" value="Search">
    </form>

    <% if (gainers.length > 0) { %>
        <div style="padding-top:5vw;padding-left:5vw;margin-left: 0.5vw; ">
        <h2>Top Gainers</h2>
        <ul class="stocks">
            <% for(var i = 0; i < gainers.length; i++) { %>
                <div class="stock">
                    <a class="btn btn-danger" href='/search/stock_data?name=<%= gainers[i]._id %>' target="_blank"><h3>Name: <%= gainers[i]._id %></h3></a>
                    <br/><br/>
                    <p>Low: <%= gainers[i].Low %></p>
                    <p>High: <%= gainers[i].High %></p>
                    <p>Turnover: <%= gainers[i].Turnover_in_Lakhs %></p>
                    <p>Total Trade Quantity: <%= gainers[i].Total_Trade_Quantity %></p>
                    <a class="btn btn-outline-primary" href="/search/add_to_wishlist?stockname=<%= gainers[i]._id %>">Add to Wishlist</a>
                    <br/><br/>
                </div>
            <% } %>
        </ul>
        </div>
    <% } %>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
